models/**
images/**
**.jpg
**.JPG
**.bmp
**.pth
**.pt
**.png
**.pyc
**.chkp
**/runs/**
notebooks/**
log/**
**.ipynb
CascadePSP/checkpoints/**
unet++/log/
**.chkp
CascadePSP/weights/**
work_dir/**
result_dir/**
unet-dynamic
**.mp4
/home/wj/local/crack_segmentation/GSCNN/docs/resources